<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <h2>Welcome to Youtube Evaluation</h2>
    <ul>
        <li>USA</li>
            <ul>
                <li><a href="\moreVideos\USA">More 5 channels have the largest number of videos</a></li>
                <li><a href="\video\usa">Top five videos by watch</a></li>
                <li><a href="\video\usa">Top 5 videos by Likes</a></li>
            </ul>
        <li>France</li>
            <ul>
                <li><a href="\MoreVideos\France">More 5 channels have the largest number of videos</a></li>
                <li><a href="\video\usa">Top five videos by watch</a></li>
                <li><a href="\video\usa">Top 5 videos by Likes</a></li>
            </ul>
        <li>Canada</li>
            <ul>
                <li> <a href="\moreVideos\CANADA">More 5 channels have the largest number of videos</a></li>
                <li><a href="\video\usa">Top five videos by watch</a></li>
                <li><a href="\video\usa">Top 5 videos by Likes</a></li>
            </ul>
        <li>Deutschland</li>
            <ul>
                <li><a href="\moreVideos\Deutschland">More 5 channels have the largest number of videos</a></li>
                <li><a href="\video\usa">Top five videos by watch</a></li>
                <li><a href="\video\usa">Top 5 videos by Likes</a></li>
            </ul>
        <li>Groß Britan</li>
            <ul>
                <li><a href="\moreVideos\England">More 5 channels have the largest number of videos</a></li>
                <li><a href="\video\usa">Top five videos by watch</a></li>
                <li><a href="\video\usa">Top 5 videos by Likes</a></li>
            </ul>
    </ul>
</head>
<body>

</body>
</html>